.button{
    all: unset;
    display: flex;
    justify-content: center;
    align-items:end;
    width: calc(var(--order-width) + 1.9rem);
    background-color: #252525;
    padding: 1.3rem;
    padding-top: 1rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.icon{
    font-size: 1.5rem;
    margin: 0 1rem;
}