.button{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid white;
    font-size: 1.1rem;
    padding: 0.8rem 3.2rem;
    width: 15rem;
    margin: 6rem auto;
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-weight: 100;
    cursor: pointer;
}

.icon{
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}