.header{
    background-color: #222222;
    position: fixed;
    height: 100vh;
    width: var(--header-width);
    padding: 0.1px;
}

.header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
