.field{
    all: unset;
    background-color: #141414;
    color: white;
    margin: 0.8rem 1rem;
    margin-right: 1.8rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    display: block;
    border-radius: 0.2rem;
}

.field::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col1{
    width: calc(var(--product-column-1-width) - 0.7rem);
}

.col2{
    width: 5rem;
}


