:root{
    --header-width: 12rem;
    --product-column-1-width: 17rem;
    --product-column-2-width: 10rem;
    --product-columns-padding: 1rem 2rem;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1B1B1B;
    color: white;
}   

#root{
    display: flex;
    width: 100%;
}